
/** NORMALIZE (taken from normalize.css) *************************************/

/**
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
html {
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/** MAIN *********************************************************************/

html {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue', sans-serif;
	background: url(../img/photo-1499162526249-f5b8b9ba9923) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 10px 10px;
}

.masthead {
    width: 229px;
}
.heading {
    background-color: black;
    color: white;
    font-size: 26px;
    padding: 5px 8px 4px;
    font-weight: bold;
    display: inline-block;
    margin: 0px 0 15px;
}
.nav {
    padding-top: 2px;
    float: right;
}
.nav-item {
    background-color: #ddd;
    padding: 4px;
    font-size: 13px;
    cursor: pointer;
}
.nav-item:hover {
    background-color: #eee; /*rgba(221, 221, 221, 0.7)*/
}

/* MAIN TABLE ****************************************************************/

table {
    width: 100%;
    background-color:rgba(0, 0, 0, 0);
    /*border: 1px dotted #ABEBC6;*/
    border-collapse: collapse;
}
td, th {
    border: 1px dotted #239B56;/*#bbb;*/
    padding: 5px 7px 4px;
    vertical-align: top;
}
th {
    background-color: #1D8348;
    color: white;
}
.cell-0 {
    border: none;
    width: 8%;
}
.col {
    width: 22%;
    font-weight: normal;
}
.row-heading {
    text-align: left;
    color: black;
    padding-top: 12px;
    padding-bottom: 12px;
}
.row-label {
    cursor: pointer;
}
div.task {
    background-color: #D5F5E3;
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 6px;
    /* "Pointer" icon is relevant to click (for details) and move. 
     * "Move" icon is only relevant to move. */
    cursor: pointer;
}
div.task:hover {
    background-color: rgba(213, 245, 227, 0.7);
    padding: 4px;
    margin-top: 3px;
    margin-bottom: 6px;
    /* "Pointer" icon is relevant to click (for details) and move. 
     * "Move" icon is only relevant to move. */
    cursor: pointer;
}
.plain-bg {
    background: #fff;
}
.plain-bg2 {
    background-color: rgba(255, 255, 255, 80);
}

#hidden-templates {
    display: none;
}

/* BUTTONS *******************************************************************/

.row-buttons {
    /*text-align: right;*/
}

.btn-task-new {
    font-weight: normal;
    font-size: 13px;
    /*font-family: 'Helvetica Neue', sans-serif;*/
    background-color: #ddd;
    padding: 3px 5px 3px 4px;
    margin-top: 6px;
    display: inline-block;
    cursor: pointer;
}

.btn-task-new:hover {
    background-color: rgba(221, 221, 221, 0.7);/*#eee*/;
}

.button-container {
    align-content: right;
    font-size: 13px;
    float: right;
    margin-top: 3px;
    margin-bottom: 4px;
}

.button {
    font-weight: normal;
    font-size: 13px;
    background-color: #ddd;
    padding: 3px 5px 3px 5px;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(221, 221, 221, 0.7);/*#eee;*/
}

/* INTERACTIONS **************************************************************/

[contenteditable] {
    z-index: 100;

    white-space: pre-wrap;
    background-color: #fffbdd; /*#f5f3d5;*/
    /*
    color: springgreen;
    font-family: 'Courier New', Courier, monospace;
    */

    padding: 4px; /*3px 6px 4px 4px;*/
    margin-bottom: 5px;
    margin-top: 7px;
    /* More intuitive without cursor: move */
}

[contenteditable]:hover {
    background-color: rgba(255, 251, 221, 0.6);
}

/* DETAILS PAGE **************************************************************/

/** Modal .template-task-details */
.template-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);

    padding-top: 20px;
    overflow: auto; /* Enable scroll if needed */
}

/* .task-details-content */
.modal-content {
    margin: 5% auto;
    width: 70%;
    max-width: 500px;
    padding: 15px 19px 15px 13px;
    background-color: #f9f9f9; /* #d5f5f3; */
    border: 1px solid #CCC;
    font-family: 'Helvetica Neue', sans-serif;
}
.form-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
div.form-label {
    font-size: 24px;
    margin-bottom: 20px;
}
div.form-textarea {
    margin-bottom: 20px;
    height: 380px;
}
div.form-archive {
    margin-bottom: 20px;
}

input.form-label {
    font-size: 23px;
    width: 100%;
    margin-bottom: 15px;
}
textarea.form-textarea {
    width: 100%;
    height: 380px;
    margin-bottom: 10px;
    font-size: 16px;
}
.modal-buttons  {
    text-align: right;
}
.modal-buttons  input {
    background-color: #ddd;
    font-size: 13px;
}
.modal-buttons  input:hover {
    background-color: #eee;
}
.modal-cancel {
    float: left;   
}

.trc-position {
    margin-bottom: 15px;
}

/* ARCHIVE *******************************************************************/

.archived-tasks h3 {
    padding: 5px 7px 4px;
    background-color: #1D8348;
    color: white;
    font-weight: normal;
    width: 60px;
    margin-bottom: 0px;
}

.archived-tasks-content {
    padding: 5px 7px;
    background-color: rgba(255, 255, 255, 0.6);
    min-height: 20px; /* For when there are no archived tasks */
}

div.archived-task {
    background-color: #D5F5E3;
    padding: 4px;
    margin: 4px 2px;
    display: inline-block;
    cursor: pointer;
}
