/* Video dimensions */
@media (min-aspect-ratio: 48/27), (aspect-ratio: 48/27) {
  video {
    width: 100%;
  }
}
@media (max-aspect-ratio: 48/27) {
  video {
    height: 100vh;
  }
}

/* Column headings ***********************************************************/
th.zbr-col-heading, .history-col {
  background-color: rgba(0, 0, 0, 0.3) !important; /*#1D8348;*/
  /*color: white !important;*/
}
.history-col {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Row headings **************************************************************/

.history .row-label {
  color: rgba(255, 255, 255, 0.8) !important;
}

/* Cards *********************************************************************/

.history .task {
  background-color: rgba(255, 255, 255, 0.5) !important;
}
